# See https://docs.aspect.build/aspect-workflows/additional-materials/reference-config
---
workspaces:
  - .
  # TODO:
  # - examples/cpp
  # - ...
bazel:
  flags:
    - --config=ci
tasks:
  - test:
      name: "Bazel 7"
      id: bazel-7
      env:
        USE_BAZEL_VERSION: 7.x
  - test:
      name: Bazel 8
      id: bazel-8
      env:
        USE_BAZEL_VERSION: 8.x
  - test:
      name: Bazel 9
      id: bazel-9
      env:
        USE_BAZEL_VERSION: 9.*
notifications:
  github: {}
