# See https://docs.aspect.build/v/workflows/config
---
workspaces:
  - .
  - example
bazel:
  flags:
    - --config=ci
tasks:
  - lint:
  - test:
      name: Bazel 6
      env:
        USE_BAZEL_VERSION: 6.x
  - test:
      name: Bazel 7
      env:
        USE_BAZEL_VERSION: 7.x
  - test:
      name: Bazel 8
      env:
        USE_BAZEL_VERSION: 8.x
  - test:
      name: Bazel 9
      env:
        USE_BAZEL_VERSION: 9.*
        
notifications:
  github: {}
