# See https://docs.aspect.build/v/workflows/config
---
workspaces:
  - .:
      tasks:
        - bzlmod-false:
            without: true
  - example
bazel:
  flags:
    - --config=ci
tasks:
  - test:
  - build:
      bazel:
        flags:
          - --@aspect_rules_lint//lint:fail_on_violation
  - test:
      name: "Test (WORKSPACE)"
      id: bzlmod-false
      bazel:
        flags:
          - --noenable_bzlmod
          - --enable_workspace
notifications:
  github: {}
