import %workspace%/../tools/preset.bazelrc
import %workspace%/tools/java21.bazelrc

# Automatically apply --config=linux, --config=windows etc
common --enable_platform_specific_config

# Permit MODULE.bazel to use_extension("@gazelle//:extensions.bzl", "go_deps", isolate = True)
common --experimental_isolated_extension_usages

# Aspect recommended Bazel flags when using rules_java and rules_jvm_external

common --incompatible_enable_proto_toolchain_resolution
common --@aspect_rules_ts//ts:skipLibCheck=always

# enable symlinks on windows
startup --windows_enable_symlinks

# c++ options
common:linux --action_env=BAZEL_CXXOPTS="-std=c++20"
common:windows --action_env=BAZEL_CXXOPTS="/std:c++20"

