Checks: >
  -*,
  bugprone-*,
  cppcoreguidelines-*,
  google-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*
WarningsAsErrors: 'readability-inconsistent-declaration-parameter-name'
