import %workspace%/tools/preset.bazelrc

common --config=ruleset

# Don't build protoc from the cc_binary, it's slow and spammy when cache miss
common --incompatible_enable_proto_toolchain_resolution
common --per_file_copt=external/.*protobuf.*@--PROTOBUF_WAS_NOT_SUPPOSED_TO_BE_BUILT
common --host_per_file_copt=external/.*protobuf.*@--PROTOBUF_WAS_NOT_SUPPOSED_TO_BE_BUILT

# Opt-in to flag that's flipping
common --incompatible_config_setting_private_default_visibility

# Do not autoload any legacy symbols that are now provided in separate repos.
common --incompatible_autoload_externally=
