docs/*.md          linguist-generated=true
docs/linting.md    linguist-generated=false
docs/formatting.md linguist-generated=false

#################################
# Configuration for 'git archive'
# see https://git-scm.com/docs/git-archive#ATTRIBUTES
#################################

# Substitution for the _VERSION_PRIVATE placeholder
MODULE.bazel      export-subst
tools/version.bzl export-subst
