#################################
# Configuration for 'git archive'
# see https://git-scm.com/docs/git-archive#ATTRIBUTES
#################################

# Substitution for the _VERSION_PRIVATE placeholder
tools/version.bzl export-subst
