build:lint --aspects=//tools/lint:linters.bzl%golangci_lint
build:lint --output_groups=rules_lint_machine

# Override the preset's lockfile_mode on CI since MODULE.bazel.lock isn't committed.
common:ci --lockfile_mode=off
