# Turn on warnings for unquoted variables with safe values
enable=quote-safe-variables

# Turn on warnings for unassigned uppercase variables
enable=check-unassigned-uppercase

# Permit following `source` statements into sh_library deps.
external-sources=true

# Allow [ ! -z foo ] instead of suggesting -n
disable=SC2236
