/* Lint violation: empty block 
Demo of linting using stylelint directly:

example % BAZEL_BINDIR=. bazel run tools/lint:stylelint --run_under="cd $PWD &&" -- --config stylelint.config.mjs src/hello.css

src/hello.css
  2:5  ✖  Unexpected empty block  block-no-empty

✖ 1 problem (1 error, 0 warnings)
*/
.h1 {
}
