name: CI

# Controls when the action will run.
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [main, 2.x]
  pull_request:
    branches: [main, 2.x]
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

concurrency:
  # Cancel previous actions from the same PR or branch except 'main' branch.
  # See https://docs.github.com/en/actions/using-jobs/using-concurrency and https://docs.github.com/en/actions/learn-github-actions/contexts for more info.
  group: concurrency-group::${{ github.workflow }}::${{ github.event.pull_request.number > 0 && format('pr-{0}', github.event.pull_request.number) || github.ref_name }}${{ github.ref_name == 'main' && format('::{0}', github.run_id) || ''}}
  cancel-in-progress: ${{ github.ref_name != 'main' }}

jobs:
  list-examples:
    runs-on: ubuntu-latest
    outputs:
      format-matrix: ${{ steps.set-format-matrix.outputs.matrix }}
      test-matrix: ${{ steps.set-test-matrix.outputs.matrix }}
    steps:
      - uses: actions/checkout@v5
      - name: Verify bcr patches
        run: patch --dry-run -p1 --fuzz 0 < .bcr/patches/*.patch
      - name: Generate Matrices
        id: set-format-matrix
        run: |
          # Find all examples that have a tools/format folder
          folders=$(find examples -type d -path "*/tools/format" | sed 's|/tools/format||' | jq -R -s -c 'split("\n") | map(select(length > 0))')
          echo "matrix=$folders" >> "$GITHUB_OUTPUT"
          echo "Generated format matrix: $folders"
      - name: Generate Test Matrix
        id: set-test-matrix
        run: |
          # Find all examples that have test/*.bats files
          folders=$(find examples -name "*.bats" -path "*/test/*" | sed 's|/test/.*||' | sort -u | jq -R -s -c 'split("\n") | map(select(length > 0))')
          echo "matrix=$folders" >> "$GITHUB_OUTPUT"
          echo "Generated test matrix: $folders"
  format:
    needs: list-examples
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        folder: ${{ fromJson(needs.list-examples.outputs.format-matrix) }}
    steps:
      - uses: actions/checkout@v5
      - uses: bazel-contrib/setup-bazel@0.15.0
      # Permit this gross non-hermetic dependency
      - if: matrix.folder == 'examples/cpp'
        run: sudo apt-get update && sudo apt-get install -y libtinfo6
      - run: bazel run //tools/format
        working-directory: ${{ matrix.folder }}
  integration-test:
    needs: list-examples
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        folder: ${{ fromJson(needs.list-examples.outputs.test-matrix) }}
        include:
          - folder: format
    steps:
      - uses: actions/checkout@v4
      - name: Setup bats
        uses: mig4/setup-bats@v1
        with:
          bats-version: "1.8.2"
      - name: Setup bats helpers
        uses: brokenpip3/setup-bats-libs@0.0.3
        with:
          support-path: /usr/lib/bats/bats-support
          support-version: "0.3.0"
          assert-path: /usr/lib/bats/bats-assert
          assert-version: "2.1.0"
      - name: "Integration test"
        working-directory: ${{ matrix.folder }}
        run: bats ./test
  aspect:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: bazel-contrib/setup-bazel@0.15.0
      - name: Install Aspect CLI
        uses: jaxxstorm/action-install-gh-release@v2.1.0
        with:
          repo: aspect-build/aspect-cli
          tag: v2025.51.3
          asset-name: aspect-cli
          rename-to: aspect
          platform: unknown-linux
          arch: x86_64
          chmod: 0755
          extension-matching: disable
      - name: Lint
        working-directory: examples/java
        run: aspect lint
      - name: Format
        working-directory: examples/java
        # Only format one language to keep CI time reasonable
        run: aspect format --all_files=true
  test:
    strategy:
      matrix:
        # Linux is tested on Aspect Workflows
        os:
          - macos-latest
          # TODO(alex): lots of places are missing windows...
          # - windows-latest
        version:
          - 7.x
          # TODO(alex): missing use_repo calls for some things in WORKSPACE.bzlmod
          # - 8.x

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: bazel-contrib/setup-bazel@0.8.0
        with:
          repository-cache: ${{ inputs.mount_bazel_caches }}
          bazelrc: |
            common --announce_rc
            common --color=yes
      - name: Test
        working-directory: examples/java
        env:
          USE_BAZEL_VERSION: ${{ matrix.version }}
        run: bazel test //...
