# Cut a release whenever a new tag is pushed to the repo.
name: Release

on:
  # Can be triggered from the tag.yaml workflow
  workflow_call:
    inputs:
      tag_name:
        required: true
        type: string
  # In case of problems, let release engineers retry by manually dispatching
  # the workflow from the GitHub UI
  workflow_dispatch:
    inputs:
      tag_name:
        required: true
        type: string
  # Or, developers can manually push a tag from their clone
  push:
    tags:
      - "v*.*.*"

jobs:
  release:
    uses: bazel-contrib/.github/.github/workflows/release_ruleset.yaml@540bb73a286db90d2f82d337d0adec21d3d54d7b # 2025-03-14
    with:
      prerelease: false
      release_files: rules_lint-*.tar.gz
      tag_name: ${{ inputs.tag_name }}
    permissions:
      id-token: write # Needed to attest provenance
      attestations: write # Needed to attest provenance
      contents: write # Needed to create release
  publish:
    needs: release
    uses: ./.github/workflows/publish.yaml
    with:
      tag_name: ${{ inputs.tag_name }}
    permissions:
      contents: write # allow appending new attestation files to the release
